<!DOCTYPE HTML>
<html>
	<head>
		<title>Corentin Lemoine</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>
        <div class="bg-img">
            <div class="logo">
                <img src="images/logo.png">
                <h1>
                    <span class="prenom">CORENTIN</span> <span class="nom" >LEMOINE</span>
                </h1>
            </div>
            <div class="ico animated">
                <a href="#presentation">
                    <div class="circle circle-main"></div>
                    <svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve" >
                        <path  class="st-arrow" d="M317.5,487.6c0.3-0.3,0.4-0.7,0.7-1.1l112.6-112.6c6.3-6.3,6.3-16.5,0-22.7c-6.3-6.3-16.5-6.3-22.7,0
                                        l-86,86V136.1c0-8.9-7.3-16.2-16.2-16.2c-8.9,0-16.2,7.3-16.2,16.2v301.1l-86-86c-6.3-6.3-16.5-6.3-22.7,0
                                        c-6.3,6.3-6.3,16.5,0,22.7l112.7,112.7c0.3,0.3,0.4,0.7,0.7,1c0.5,0.5,1.2,0.5,1.7,0.9c1.7,1.4,3.6,2.3,5.6,2.9
                                        c0.8,0.2,1.5,0.4,2.3,0.4C308.8,492.6,313.8,491.3,317.5,487.6z"/>
                    </svg>
                </a>
            </div>
        </div>

        	<!-- A propos -->
        <div id="presentation">
            <div class="section-portrait">
                <img class="portrait" src="images/boy.png">
            </div>
            <div class="texte-presentation">
                <h2 class="a_propos second_titre">À propos</h2>
                <p>Après avoir passé un BAC Scientifique spécialité ISN j'ai décidé de poursuivre mes études
                <br>dans le domaine de l'informatique. Je me suis donc orienté vers un BTS SIO option SLAM.
                <br>Cette formation m'a permis d'apprendre les bases des langages objets ainsi que ceux du front et back end.
                <br>J'ai pu approfondir mes connaissances, lors de mes différents stages en agence web et acquérir des compétences
                <br>dans l'utilisation de CMS (Wordpress) ainsi que de Framework (CodeIgniter).</p>
            </div>
        </div>

        <!-- Compétences -->
        <div id="competences">
            <h2 class="second_titre">Compétences</h2>
            <ul class="liste_competences">
                <li class="comp">
                    <span class="pctge comp1"><p>Environnement Java</p></span>
                </li>
                <li class="comp">
                    <span class="pctge comp2"><p>Langage du web (PHP, Javascript,...)</p></span>
                </li>
                <li class="comp">
                    <span class="pctge comp3"><p>Framework (CodeIgniter)</p></span>
                </li>
                <li class="comp">
                    <span class="pctge comp4"><p>CMS (Wordpress)</p></span>
                </li>

                <li class="comp">
                    <span class="pctge comp5"><p>Communication</p></span>
                </li>
                <li class="comp">
                    <span class="pctge comp6"><p>Anglais</p></span>
                </li>
                <li class="comp">
                    <span class="pctge comp7"><p>Espagnol</p></span>
                </li>
                <li class="comp">
                    <span class="pctge comp8"><p>Suite Office</p></span>
                </li>
            </ul>
        </div>

		<!-- Diplômes & Formations -->
        <div class="container">
            <h2 class="ss-subtitle second_titre">Diplômes & Expériences</h2>
                <div class="en_travaux"><p>Cette partie est en cours de développement</p></div>
        </div>

		<!-- Centres d'intérêts -->
        <div class="centre_interet">
            <h2 class="second_titre">Centres d'intérêts</h2>
            <div class="texte_ci">
                <p><strong>Athlétisme</strong> Je pratique ce sport depuis l'âge de 5 ans et participe activement aux compétitions.</p>
                    <a href="http://bases.athle.com/asp.net/athletes.aspx?base=bilans&seq=465346534455485147524950" target="_blank"><img src="images/javelot.png"/></a>
                <p><strong>Séries et romans policier</strong> Les enquêtes policières et le suspense me plaisent beaucoup</p>
            </div>
        </div>
    </body>

    <footer class="footer">
		<p><a href="/mentionslegales.php">mentions légales</a><br />&copy; 2017-2019 | Lemoine Corentin</p>
	</footer>
</html>
