<!doctype html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Corentin LEMOINE - Mentions légales">
        <meta name="author" content="Corentin LEMOINE">
        <meta name="robots" content="noindex, nofollow">
        <title>Corentin LEMOINE - Mentions légales</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"
            integrity="sha512-usVBAd66/NpVNfBge19gws2j6JZinnca12rAe2l+d+QkLU9fiG02O1X8Q6hepIpr/EYKZvKx/I9WsnujJuOmBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>
        <main role="main" class="container">
            <h1 class="mt-5">Mentions légales</h1>
            <div class="card mt-5">
                <div class="card-header">Hébergement</div>
                <div class="card-body">
                    <p><a href="https://about.gitlab.com/features/pages/" target="_blank">GitHub Pages</a></p>
                    <p>88 Colin P Kelly Jr St, San Francisco, CA 94107</p>
                    <p><a href="https://github.com/contact/" target="_blank">Contact</a></p>
                </div>
            </div>
            <div class="card mt-5 mb-5">
                <div class="card-header">Directeur de la publication et éditeur du site</div>
                <div class="card-body">
                    <!--sse-->
                    <p>M. Corentin LEMOINE</p>
                    <p>Email de contact : <a href="mailto:corentin.devweb@gmail.com">corentin.devweb@gmail.com</a></p>
                    <!--/sse-->
                </div>
                <div class="card-footer">
                    <a href="{{ .Site.BaseURL }}">retour au site</a>
                </div>
            </div>
        </main>
    </body>

</html>
