<!doctype html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Corentin Lemoine - Mentions légales">
        <meta name="author" content="Corentin Lemoine">
        <meta name="robots" content="noindex, nofollow">
        <title>Corentin Lemoine - Mentions légales</title>
    </head>

    <body>
        <main role="main" class="container">
            <div class="card mt-5">
                <div class="card-header">Hébergement</div>
                <div class="card-body">
                    <p><a href="https://about.gitlab.com/features/pages/" target="_blank">GitHub Pages</a></p>
                    <p>88 Colin P Kelly Jr St, San Francisco, CA 94107</p>
                    <p><a href="https://github.com/contact/" target="_blank">Contact</a></p>
                </div>
            </div>
            <div class="card mt-5 mb-5">
                <div class="card-header">Directeur de la publication et éditeur du site</div>
                <div class="card-body">
                    <!--sse-->
                    <p>M. Corentin Lemoine</p>
                    <p>Email de contact :
                        <!-- <a href="mailto:contact@domain.tld">contact@domain.tld</a> -->
                    </p>
                    <!--/sse-->
                </div>
                <div class="card-footer">
                    <a href="{{ .Site.BaseURL }}">retour au site</a>
                </div>
            </div>
        </main>
    </body>

</html>
